.link {
  font-size: var(--font-size-md);
  color: var(--secondary);
  padding: var(--padding-md) var(--padding-md);
  overflow-wrap: break-word;
  text-decoration: none;

  &:hover {
    background-color: var(--light-hover);
  }
}

.activeLink {
  color: var(--primary);
}
