@import url("~bootstrap/dist/css/bootstrap.min.css");

:root {
  --primary: #216ed3;
  --primary-hover: #43b4ff;
  --secondary: #0b2b57;
  --secondary-hover: #153768;
  --color-gray: #212529;
  --light-hover: #ededed;
  --accent-color: #98c99e;
  --success: #6abf69;
  --info: #6ea2f5;
  --warning: #f7b529;
  --danger: #de656b;
  --light: #fff;
  --dark: #394240;
  --primary-rgb: 82, 156, 255;
  --secondary-rgb: 11, 43, 87;
  --success-rgb: 106, 191, 105;
  --info-rgb: 110, 162, 245;
  --warning-rgb: 247, 181, 41;
  --danger-rgb: 222, 101, 107;
  --light-rgb: 240, 244, 248;
  --dark-rgb: 57, 66, 65;
  --primary-text-emphasis: #052c65;
  --secondary-text-emphasis: #2b2f32;
  --success-text-emphasis: #0a3622;
  --info-text-emphasis: #055160;
  --warning-text-emphasis: #664d03;
  --danger-text-emphasis: #58151c;
  --light-text-emphasis: #495057;
  --dark-text-emphasis: #495057;
  --primary-bg-subtle: #cfe2ff;
  --secondary-bg-subtle: #e2e3e5;
  --success-bg-subtle: #d1e7dd;
  --info-bg-subtle: #cff4fc;
  --warning-bg-subtle: #fff3cd;
  --danger-bg-subtle: #f8d7da;
  --light-bg-subtle: #fcfcfd;
  --dark-bg-subtle: #ced4da;
  --primary-border-subtle: #9ec5fe;
  --secondary-border-subtle: #c4c8cb;
  --success-border-subtle: #a3cfbb;
  --info-border-subtle: #9eeaf9;
  --warning-border-subtle: #ffe69c;
  --danger-border-subtle: #f1aeb5;
  --light-border-subtle: #e9ecef;
  --dark-border-subtle: #adb5bd;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;
  --font-sans-serif: roboto, -apple-system, blinkmacsystemfont, "Segoe UI",
    "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: sfmono-regular, menlo, monaco, consolas, "Liberation Mono",
    "Courier New", monospace;
  --body-font-family: var(--bs-font-sans-serif);

  /* font sizes */
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 28px;
  --font-size-3xl: 36px;

  /* font-weights */
  --font-weight-base: 400;
  --font-weight-bold: 500;
  --font-weight-bolder: 700;
  --font-weight-black: 900;

  /* Gaps */
  --gap-base: 16px;
  --gap-lg: 26px;
  --gap-xl: 32px;
  --gap-2xl: 40px;

  /* Paddings */
  --padding-base: 4px;
  --padding-sm: 2px;
  --padding-md: 8px;
  --padding-lg: 16px;
  --padding-xl: 20px;
  --padding-2xl: 24px;
  --padding-3xl: 28px;
  --padding-4xl: 40px;
  --padding-4xl: 60px;
}

body {
  background-color: var(--bs-light);
  color: var(--bs-dark);
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);

  a {
    color: var(--secondary);
  }
}

.btn {
  border: 0;
  border-radius: 0;
  padding: var(--padding-md) var(--padding-lg);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light);

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    background-color: var(--primary-hover) !important;
  }

  &:active {
    background-color: var(--primary) !important;
  }
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--light);

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    background-color: var(--secondary-hover) !important;
  }

  &:active {
    background-color: var(--dark) !important;
  }
}
