.hero {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-base);
  color: var(--light);
  background-color: var(--secondary);
}

.container {
  height: 100%;
}

.headerText {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 50px;

  @media (width >= 991px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.header {
  font-weight: 600;
  font-size: 40px;

  @media (width >=992px) {
    font-size: 70px;
  }
}

.elevatingYourExperience {
  font-weight: 300;
  font-size: 20px;
}

.pageDivider {
  position: relative;
  overflow: hidden;
  height: 120px;

  svg {
    position: absolute;
    bottom: -5px;
    z-index: 2;
  }
}
