.hero {
  display: flex;
  align-items: center;
  font-size: var(--font-size-base);
  color: var(--light);
  font-family: var(--font-roboto);
  background-color: var(--secondary);
  background-image: url(/images/waves1.png);
  background-repeat: no-repeat;
  background-position: 0px bottom;
  background-size: 100% 30%;

  @media (width >= 990px) {
  background-position: 0px 20vh;
  background-size: 100% 50%;
  padding-bottom: 120px;
  background-position: 0px bottom;
  }
}

.container {
  height: 100%;
}

.actionButton {
  margin: 20px auto;
  display: flex;
  justify-content: flex-end;
}

.outlineButton {
  border: solid var(--light) 1px;
  background-color: var(--transparent);
  font-size: 15px;
}

.outlineButton:hover {
  color: var(--secondary);
  --primary-hover: var(--light);
  border-color: transparent;
}

.primaryButton {
  position: relative;
  font-size: 15px;
  padding: 9px 20px;
}

.headerText {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

.header {
  font-weight: 600;
  font-size: 40px;

  @media (width >=992px) {
    font-size: 70px;
  }
}

.elevatingYourExperience {
  font-weight: 300;
  font-size: 20px;
}