.topFooter {
  background-color: var(--primary-bg-subtle);
  color: var(--secondary);

  a {
    overflow-wrap: anywhere;

    @media screen and (width >= 280px) {
      overflow-wrap: break-word;
    }
  }
}

.bottomFooter {
  display: grid;
  place-items: center;
  background-color: var(--light);

  p {
    margin: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    color: var(--secondary);
    font-weight: 400;
    text-align: center;
  }

  @media screen and (width >= 576px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container {
  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (width >= 1200px) {
    grid-template-columns: 50% 50%;
  }
}

.message {
  display: grid;
  place-content: left;

  p {
    font-size: var(--font-size-md);
    font-weight: 700;

    @media screen and (width >= 520px) {
      font-size: var(--font-size-xl);
    }
  }
}

.contactLinks {
  display: grid;

  ul {
    padding-left: 14px;
    font-size: 14px;

    @media screen and (width >= 340px) {
      font-size: var(--font-size-base);
    }
  }

  @media screen and (width >= 768px) {
    grid-template-columns: 50% 50%;
  }
}
