.formLayout {
  padding: 20px;
  border-color: rgb(0 0 0); // To be change
  background: var(--light);
  box-shadow: 0 4px 30.9px 0 rgb(0 0 0 / 5.5%);
}

.formLabel {
  margin-bottom: 0;
}

.submitButton {
  background-color: var(--primary);
  border-radius: 5px;
}
