.section {
  background: var(--secondary);
  color: var(--light);
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow-wrap: anywhere;

  > h4,
  > h2 {
    text-align: center;
  }
}

.controls {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  gap: 8px;
  margin-bottom: 16px;

  > button {
    text-wrap: nowrap;
  }

  @media screen and (width >= 768px) {
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: min-content;
    padding: 8px;
    place-content: center;
    width: min-content;
    margin-right: auto;
    margin-left: auto;
  }
}

.details {
  display: grid;
  place-content: center;
  grid-template-rows: 1fr min-content;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 16px;

  @media screen and (width >= 968px) {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-content: center;
  }

  a {
    color: var(--primary-hover);
  }
}

.imgContainer {
  display: grid;
  place-content: center;
  margin: 0 auto;
  box-shadow: 0 0 36px 8px var(--secondary) inset;
  border-radius: 8px;
  height: auto;
  min-height: unset;
  max-width: fit-content;

  > img {
    margin-bottom: 8px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    width: 100%;
    height: auto;

    @media screen and (width >= 968px) {
      margin-bottom: 0;
      padding-right: 0;
    }
  }
}

.detailsText {
  order: 1;

  @media screen and (width >= 968px) {
    order: 0;
    padding-left: var(--padding-4xl);
  }
}

.detailTitle {
  color: var(--primary-hover);
}
