.abrasoftLogoRecoloredSquare {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.abrasoft {
  position: relative;
}

.abrasoftLogoRecoloredSquareParent,
.homeParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.abrasoftLogoRecoloredSquareParent {
  width: 130px;
  align-items: center;
  z-index: 1;
}

.homeParent {
  align-items: flex-start;
  z-index: 0;
  font-size: var(--font-size-sm);
}

.frameParent,
.header {
  display: flex;
  align-items: center;
}

.frameParent {
  flex-direction: row;
  justify-content: flex-start;
}

.header {
  align-self: stretch;
  background-color: var(--light);
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 var(--padding-28xl);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}

.isASoftware {
  margin: 0;
  position: relative;
  font-weight: 700;
  color: var(--primary-hover);
  display: inline-block;
  width: 397px;
}

.abrasoftParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}

.ourCompanyIs {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  mix-blend-mode: normal;
}

.frameGroup {
  width: 690px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 73px;
}

.introductionSection {
  align-self: stretch;
  background-color: var(--secondary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 90px;
  color: var(--light);
}

.ourValues {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

.frameChild {
  position: relative;
  width: 104px;
  height: 88px;
  object-fit: cover;
}

.ourValuesParent,
.rectangleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rectangleWrapper {
  flex-shrink: 0;
  justify-content: center;
}

.ourValuesParent {
  align-self: stretch;
  justify-content: space-between;
}

.innovation {
  color: var(--color-royalblue);
}

.atTheCoreContainer {
  margin: 0;
  position: relative;
  display: inline-block;
  width: 355px;
  mix-blend-mode: normal;
}

.isAFoundational {
  color: var(--secondary);
}

.integrityIsAContainer {
  margin: 0;
  position: relative;
  display: inline-block;
  width: 355px;
  mix-blend-mode: normal;
  color: var(--color-royalblue);
}

.atTheCoreOfOurIdentityIsParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}

.frameContainer,
.frameDiv {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}

.frameDiv {
  flex-direction: row;
  justify-content: center;
  gap: 134px;
  text-align: left;
  font-size: var(--font-size-sm);
}

.frameContainer {
  background-color: var(--light);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 29px var(--padding-21xl);
  gap: 20px;
  text-align: center;
}

.hereAtOur,
.ourMission {
  margin: 0;
  position: relative;
}

.ourMission {
  align-self: stretch;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

.hereAtOur {
  font-size: var(--font-size-sm);
  color: var(--light);
  text-align: left;
  display: inline-block;
  width: 355px;
  mix-blend-mode: normal;
}

.ourMissionParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.hereAtOur1,
.ourVision {
  margin: 0;
  position: relative;
  display: inline-block;
}

.ourVision {
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  width: 206px;
}

.hereAtOur1 {
  font-size: var(--font-size-sm);
  text-align: left;
  width: 355px;
  mix-blend-mode: normal;
}

.ourVisionParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--light);
}

.frameParent1,
.missionVisionSection {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.frameParent1 {
  flex-direction: row;
  justify-content: flex-start;
  gap: 69px;
}

.missionVisionSection {
  background: linear-gradient(
    90deg,
    #fff,
    #fff,
    #5a6f8d 4.94%,
    #0b2b57 49.48%,
    #5a6f8d 95.7%,
    #fff
  );
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: 41px 70px;
  text-align: center;
  color: var(--primary-hover);
}

.weDevelopTest {
  position: relative;
  line-height: 36px;
  display: inline-block;
  max-width: 400px;
}

.p {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.sendAMessage,
.tellUsYour {
  display: flex;
  align-items: center;
}

.tellUsYour {
  position: relative;
  line-height: 36px;
  width: 189.87px;
  height: 28px;
  flex-shrink: 0;
}

.sendAMessage {
  position: absolute;
  top: calc(50% - 10px);
  left: 16px;
  line-height: 24px;
  justify-content: center;
  width: 117.99px;
  height: 19px;
}

.button {
  position: relative;
  background-color: var(--secondary);
  width: 149.61px;
  height: 40px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--light);
}

.divfooterMessage0vifd {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 var(--padding-31xl);
  gap: var(--gap-base);
}

.browseMore,
.listItem {
  position: relative;
  line-height: 24px;
  align-items: center;
}

.browseMore {
  display: flex;
  width: 94.24px;
  height: 24px;
  flex-shrink: 0;
}

.listItem {
  text-decoration: underline;
  width: 43.36px;
  height: 19px;
}

.contactUs1,
.div,
.listItem {
  display: flex;
  flex-shrink: 0;
}

.div {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.contactUs1 {
  position: relative;
  line-height: 24px;
  align-items: center;
  width: 78.8px;
  height: 24px;
}

.abrahamguerreroabrasoftcom {
  margin: 0;
}

.listItemContainer1 {
  width: 100%;
}

.listItemContainer {
  position: relative;
  text-decoration: underline;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 259.83px;
  height: 67px;
  flex-shrink: 0;
}

.divfooterContactlinksMl6lw,
.divfooterContainerPpGj {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.divfooterContactlinksMl6lw {
  flex: 1;
  flex-shrink: 0;
  font-size: var(--font-size-base);
}

.divfooterContainerPpGj {
  align-self: stretch;
  background-color: var(--primary-bg-subtle);
  padding: var(--padding-21xl) var(--padding-xl);
  gap: var(--gap-base);
  mix-blend-mode: normal;
}

.turningDreamsInto {
  position: relative;
  line-height: 24px;
}

.turningDreamsIntoDigitalReParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-xl);
}

.frame {
  align-self: stretch;
  background-color: var(--light);
  align-items: center;
  padding: 0 var(--padding-5xs);
  font-size: var(--font-size-base);
}

.aboutUs,
.footer,
.frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer {
  align-self: stretch;
  align-items: center;
  font-size: var(--font-size-5xl);
}

.aboutUs {
  position: relative;
  background-color: var(--light);
  width: 100%;
  overflow: hidden;
  align-items: flex-start;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--secondary);
  font-family: var(--font-roboto);
}
