.connectWithUsToday {
  font-weight: 600;
  font-size: 35px;

  @media (width <= 991px) {
    text-align: center;
  }
}

.exploreOurWorld {
  font-size: 20px;

  @media (width <= 991px) {
    text-align: center;
  }
}

.formLayout {
  padding: 40px;
  border-color: rgb(0 0 0); // To be change
  border-radius: 46px;
  background: var(--light);
  box-shadow: 0 4px 30.9px 0 rgb(0 0 0 / 5.5%);
}

.formLabel {
  margin-bottom: 0;
}

.submitButton {
  background-color: var(--primary);
  border-radius: 5px;
}
